{% extends "base_t.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/page_t_home.css') }}">
{% endblock%}

    {% block content %}
    <div class="column">
        <h3>{{ page_title }}</h3>
        <h4>{{ chapter_title }}</h4>

        {% for num, paragraph in paragraphs %}
              <div class="fourteen columns">
                <div class="row">
                  <div class="one columns alpha">{{ num }}.</div>
                  <div class="thirteen columns alpha">{{ paragraph }}</div>
                </div>
              </div>
        {% endfor %}
    </div>
    {% endblock %}
