
{% for question_num in excerpt %}
    <div class="fourteen columns">
        <dl>
            <dt>{{ question_num }}. {{ excerpt[question_num]['question'] }}</dt>
            <dd>{{ excerpt[question_num]['answer'] }}</dt>
        </dl>
    </div>
{% endfor %}