{% extends "base_t.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/page_t_home.css') }}">
{% endblock%}

    {% block content %}

    <div class="column">
        {% for (abbr, title), chapters in documents %}
            <h4>{{ title }}</h4>
            {% for chapter in chapters %}
                <a href="/c/{{ abbr }}/{{ chapter }}" class="button">{{ chapter }}</a>
            {% endfor %}
        {% endfor %}
    </div>
    {% endblock %}
