{% extends "base_t.html" %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="fourteen columns offset-by-two">
                <p>
                    A new website with Reformed creeds and confessions for reading, studying, and sharing. ReformedConfessions.com is in <a href="http://www.techterms.com/definition/beta_software">beta</a> and under active development. Please send your feedback to <a href="mailto:feedback@reformedconfessions.com">feedback@reformedconfessions.com</a>.
                </p>
        </div>
    </div>
        <div class="row" id="hometable">
            <div class="two columns"><p /></div>
            {% for (style, (abbr, title)) in documents %}
                <div class="four columns homelink {{ style }}" onclick="location.href='/{{ abbr }}';" style="cursor:pointer;">
                    {{ title }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
